/*=======================================*

                css reset

*========================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=======================================*

                  my reset

*========================================*/

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*=======================================*

                  global

*========================================*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*=======================================*

                typography

*========================================*/

body {
  font: 400 14px/1.5 'Nunito', sans-serif;
  color: #666;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #000;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

/*=======================================*

                  header

*========================================*/

.header {
  padding: 30px 0;
  position: absolute;
  width: 100%;
}

.header a {
  color: #fff;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.logo-nav {
  flex: 0 1 60%;
}

.social-button {
  flex: 0 1 20%
}

.navbar li:not(.home) {
  margin-left: 50px;
}

.social-nav li:not(.facebook) {
  margin-left: 20px;
}

.link-button {
  border-radius: 25px;
  padding: 15px 20px;
}

.link-button-1 {
  background: #CF3732;
}

/*=======================================*

                first section

*========================================*/

.sec-1 {
  color: #fff;
  padding-top: 15%;
  padding-bottom: 10%;
  background: linear-gradient(to left, #7DF26590, #1277E590), url(../images/home-bg.jpg);
}

.sec-1 a {
  color: #fff;
}

.sec-1 h1 {
  margin-bottom: 25px;
  color: #fff;
}

.hero-info {
  flex: 0 1 40%;
}

.hero-video {
  flex: 0 1 50%;
}

.inline-flex {
  display: inline-flex;
  align-items: center;
}

.link-button-2 {
  border: 1px solid #fff;
}

.call {
  padding-left: 20px;
}

/*=======================================*

                second section

*========================================*/
.sec-2 {
  margin-top: 50px;
}

.intro {
  flex: 0 1 30%;
}

.percent {
  flex: 0 1 15%;
}

.my-pic {
  flex: 0 1 30%;
  font-size: 0;
}

.dots {
  font-size: 8px;
  color: #ccc;
  margin: 5px 0;
}

.intro p {
  padding: 7px 0;
}

.percent li {
  padding-top: 30px;
  font-weight: 700;
  color: #000;
}

.percent hr {
  border: 0;
  padding-top: 5px;
  border-bottom: 3px solid #000;
}

.hr-1 {
  width: 85%;
}

.hr-2 {
  width: 90%;
}

.hr-3 {
  width: 75%;
}

.hr-4 {
  width: 70%;
}

/*=======================================*

                third section

*========================================*/

.sec-3 {
  background: #EFEFEF;
  padding: 50px 0;
}

.articles {
  height: 720px;
}

.h2-center {
  text-align: center;
  margin-bottom: 40px;
}

.art {
  flex: 0 1 49%;
  background: #fff;
  border-radius: 5px;
}

.art-img {
  flex: 0 1 40%;
  font-size: 0;
}

.art h3 {
  margin: 10px 0;
}

.art p {
  margin-bottom: 35px;
}

.art-img img {
  border-radius: 5px 0 0 5px;
}

.art-text {
  flex: 0 1 60%;
  padding: 30px;
}

.art-text time {
  color: #CF3732;
  font-size: 12px;
}

.link-button-3 {
  background: #eee;
  display: inline-block;
  font-weight: 700;
}

.link-button-3 a {
  color: #000;
}

.fa-clock {
  margin-right: 5px;
}

/*=======================================*

                  fourth section

*========================================*/

.sec-4 {
  margin: 50px 0;
}

.work-img {
  flex: 0 1 24%;
  font-size: 0;
}

.work-img img {
  border-radius: 5px;
}

/*=======================================*

                fifth section

*========================================*/

.sec-5 {
  padding: 50px 0;
  background: linear-gradient(to left, #7DF265, #1277E5);
}

.form {
  flex: 0 1 60%;
}

.map iframe {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.form input,
.form textarea {
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 5px;
}

.form input {
  flex: 0 1 49%;
}

.form textarea {
  width: 100%;
}

.button {
  background: #CF3732;
  border: 0;
  color: #fff;
  padding: 15px 35px;
  border-radius: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

/*=======================================*

                footer

*========================================*/

.footer {
  background: linear-gradient(to right, #414141, #010101);
  padding-top: 70px;
  padding-bottom: 50px;
}

.footer p,
.footer a,
.footer h2,
.footer small{
  color: #fff;
}

.footer h2 {
  margin-bottom: 7px;
}

.hydro-co {
  flex: 0 1 35%;
}

.details {
  flex: 0 1 55%;
}

.details li {
  margin-bottom: 5px;
}

.flex-change {
  align-items: flex-start;
}

.detail-1 {
  margin: 0 20px;
}

.detail-2 {
  margin: 0 30px;
}

.detail-3 {
  margin: 0 40px;
}

.footer-text {
  padding-right: 200px;
  padding-top: 30px;
  margin-top: 50px;
  border-top: 1px solid #999;
}

.call-footer {
  margin-right: 70px;
}
